<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>ChnagePassword</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>

	<section class="signin">

		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" style="height: 220px" class="col-md-12">

							<h3 class="text-center m-3">Change your Password</h3>

							<form action="" th:action="@{change-password}" th:method="post">

								<div class="form-group m-3">

									<input required="required" name="newpassword" type="password" placeholder="Enter new passoword "
										class="form-control" />

								</div>

								<div class="container text-center mt-2">

									<button class="btn btn-warning">Change Password</button>

								</div>

							</form>


						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>
